h1 {
    font-size: 4vw;
    padding-bottom: 1vw;
}

.title {
    font-size: 3vw;
    padding-bottom: 1vw;
}

.objectives {
    font-size: 2vw;
    line-height: 3vw;
    padding-bottom: 2vw;
    padding-left: 1vw;
}