h1 {
    font-size: 500%;
    padding-bottom: 5%;
}

.title {
    font-size: 350%;
    padding-bottom: 5%;
}

.objectives {
    font-size: 250%;
    line-height: 150%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.block {
    height: 5vw;
}