<h1>About Me</h1>
<p class="objectives">
    I am a results-driven software engineer with a proven track record of over 2 years in professional full-stack
    development, leveraging expertise in Angular, Java, and SQL, alongside proficiency in Databricks, PowerBi,
    and DAX. Seeking a challenging opportunity to apply these skills and further advance my career in a
    dynamic professional environment.
</p>
<h1>Education</h1>
<p class="objectives">
    Graduated from Southeast Missouri State University with a bachelor's degree in 
    Computer Science and a minor in Mathematics
</p>