h1 {
  font-size: 500%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.experience {
  padding-bottom: 2vw;
}

.example-accordion {
    display: block;
    // max-width: 750px;
    font-size: 200%;
    line-height: 200%;
  }
  
  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;
  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    // justify-content: space-between;
  }
  
  .example-accordion-item-description {
    // font-size: 0.85em;
    // color: #999;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
    white-space: pre-line;
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  
  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .block {
    height: 5vw;
}
  