<div class="nav-bar">
    <nav>
      <div class="nav-left">
        <button mat-button class="button" (click)="navigate('home')">Home</button>
        <button mat-button class="button" (click)="navigate('about')">About</button>
        <button mat-button class="button" (click)="navigate('experience')">Experience</button>
        <button mat-button class="button" (click)="navigate('certs')">Certifications</button>
        <button mat-button class="button" (click)="navigate('contact')">Contact</button>
      </div>
<div class="nav-right">
        <a href="https://www.linkedin.com/in/timothy-schlottman-650794a5/" target="_blank">
          <img class="logo" src="assets/linkedin-icon.webp">
        </a>
      </div>
    </nav>
</div>