<div>
    <nav>
      <div class="nav-left">
        <button mat-button class="button">Home</button>
        <button mat-button class="button">About</button>
        <button mat-button class="button">Experience</button>
        <button mat-button class="button">Certifications</button>
        <button mat-button class="button">Contact</button>
      </div>
      <div class="nav-right">
        <a href="https://www.linkedin.com/in/timothy-schlottman-650794a5/">
          <img class="logo" src="/assets/linkedin-icon.webp">
        </a>
      </div>
    </nav>
</div>