.button {
    color:white !important;
    font-size: 1vw;
}

.nav-left {
    float: left;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-right {
    float: right;
    align-items: center;
    padding-right: 1vw;
    // position: absolute;
}

.logo {
    width: 4vw;
    height: 4vw;
}