/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main{

}

.nav-bar {
    position: sticky;
    z-index: 1;
    top: 0;
    width: auto;
    background-color: purple;
    padding: 0 1vw;
    height: 4vw;
}

.header {
    
}

.app-body {
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
}

.comp {
    margin: 10vw;
}

.bottom-border {
    width: 60%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #969696;
}

.footer {
    height: 250px;
    width: auto;
}
