/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main{

}

.nav-bar {
    position: sticky;
    top: 0;
    width: auto;
    background-color: purple;
    color: #fff;
    padding: 0 16px;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.header {
    background-color: lightskyblue;
    height: 500px;
    width: auto;
    text-align: center;
}

.app-body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.comp {
    margin: 20px;
}

.bottom-border {
    width: 60%;
    height: 1px;
    margin: 0px auto;
    border-bottom: 1px solid #969696;
}

.footer {
    height: 250px;
    width: auto;
}
